/* ibm-plex-mono-300 - latin */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-300italic - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 300;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-regular - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-italic - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-500 - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-500italic - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 500;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-600 - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-600italic - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 600;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-700 - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ibm-plex-mono-700italic - latin */
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 700;
    src: local(''),
         url('/assets/fonts/ibm-plex-mono-v12-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/ibm-plex-mono-v12-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply antialiased min-h-screen font-body bg-zinc-50;
}

.shadow-solid {
    @apply shadow-[3px_3px_black];
}

.shadow-solid-small {
    @apply shadow-[1px_1px_black];
}

.btn-solid {
    @apply shadow-solid rounded-md border-black border-2 uppercase font-semibold active:border disabled:shadow-none disabled:translate-x-1 disabled:translate-y-1 hover:shadow-none hover:translate-x-1 hover:translate-y-1 transition-all;
}
.btn-solid-small {
    @apply shadow-solid-small rounded-md border-black border-2 uppercase font-semibold active:border disabled:shadow-none disabled:translate-x-0.5 disabled:translate-y-0.5 hover:shadow-none hover:translate-x-0.5 hover:translate-y-0.5 transition-all;
}

.led-small {
  @apply px-1 mt-0.5 rounded-sm bg-black text-yellow-500 font-semibold;
}

.led {
  @apply bg-red-600 text-white px-1 rounded-sm font-semibold;
}