/* You can add global styles to this file, and also import other style files */
/* ibm-plex-mono-300 - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 300;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-300.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-300.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-300italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 300;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-300italic.woff2")
          format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-300italic.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-regular.woff2")
          format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-regular.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-italic.woff2")
          format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-italic.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-500 - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-500.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-500.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-500italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 500;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-500italic.woff2")
          format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-500italic.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-600 - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-600.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-600.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-600italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 600;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-600italic.woff2")
          format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-600italic.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-700.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-700italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  src: local(""),
      url("./assets/fonts/ibm-plex-mono-v12-latin-700italic.woff2")
          format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
          url("./assets/fonts/ibm-plex-mono-v12-latin-700italic.woff")
          format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased min-h-screen bg-zinc-50 font-body;
}

.shadow-solid {
  @apply shadow-[3px_3px_black];
}

.shadow-solid-small {
  @apply shadow-[1px_1px_black];
}

.btn-solid {
  @apply shadow-solid rounded-md border-black border-2 uppercase font-semibold transition-all;
  @apply disabled:shadow-[3px_3px_black] disabled:translate-x-0 disabled:translate-y-0 disabled:border-2 disabled:bg-gray-300;
}

.btn-solid.with-click {
  @apply active:shadow-none active:translate-x-1 active:translate-y-1 active:border-2;
}

.btn-solid.active {
@apply shadow-none border-2 translate-x-1 translate-y-1 bg-emerald-200;
}


.btn-solid-small {
  @apply shadow-solid-small rounded-md border-black border-2 uppercase font-semibold transition-all;
  @apply disabled:shadow-[1px_1px_black] disabled:translate-x-0 disabled:translate-y-0 disabled:border-2 disabled:bg-gray-300;
}

.btn-solid-small.active {
@apply shadow-none border-2 translate-x-0.5 translate-y-0.5;
}

.btn-solid-small.with-click {
  @apply active:shadow-none active:border-2 active:translate-x-0.5 active:translate-y-0.5;
}

.led-small {
  @apply px-1 mt-0.5 rounded-sm bg-black text-yellow-500 font-semibold uppercase w-10 text-center;
}

.led {
  @apply text-white px-1 rounded-sm font-semibold uppercase;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.loader {
	border-top-color: #000;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
